// card-common
.card {
  border-radius: 10px;
  img {
    border-radius: 10px;
  }
  h3 {
    font-size: $font-size-title-lg;
    font-weight: $font-bold;
  }
  p {
    font-size: $font-size-body-sm;
    font-weight: 300;
  }
  @include tablet {
    border-radius: 20px;
    img {
      border-radius: 20px;
    }
    h3 {
      font-size: $font-size-title-xlg;
    }
    p {
      font-size: $font-size-body-md;
    }
  }
  @include tabletMore {
    border-radius: 20px;
    img {
      border-radius: 20px;
    }
    h3 {
      font-size: $font-size-title-xxlg;
    }
    p {
      font-size: $font-size-body-md;
    }
  }
}

// main-research card
.card-main-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 308px;
  padding: 30px;
  background: $gray-10;
  &__img {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    img {
      display: block;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      object-fit: cover;
    }
    span {
      display: block;
      position: absolute;
      right: 0;
      font-size: 4.8rem;
      color: $gray-20;
      font-weight: $font-bold;
      line-height: 1;
    }
  }
  &__txt {
    h3 {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 10px;
      min-width: 102px;

      &::after {
        content: "\f105";
        font-family: "Line Awesome Free";
        font-weight: 900;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    p {
      //   display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  @include tablet {
    min-height: 396px;
    &__img {
      margin-bottom: 40px;
      img {
        width: 150px;
        height: 150px;
      }
      span {
        font-size: 7.5rem;
      }
    }
    &__txt {
      h3 {
        margin-bottom: 20px;
        min-width: 156px;
      }
    }
  }
  @include tabletMore {
    min-height: 417px;
    &__img {
      margin-bottom: 20px;
      img {
        width: 180px;
        height: 180px;
      }
      span {
        font-size: 7.5rem;
      }
    }
    &__txt {
      h3 {
        margin-bottom: 10px;
        min-width: 156px;
      }
    }
  }
}

// main-feature card
.feature-wrap {
  position: relative;
}
.feature-list {
  .card-main-2 {
    display: none;
    margin: 10px 0 20px 0;
    width: 100%;
    max-width: 560px;
    img {
      width: 100%;
      max-height: 300px;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      margin-bottom: 15px;
    }
    .desc {
      h3 {
        position: relative;
        margin-bottom: 5px;
        &::after {
          content: "\f105";
          font-family: "Line Awesome Free";
          font-weight: 900;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  .card-main-2-list {
    p {
      color: $gray-30;
      font-size: $font-size-display-sm;
      font-weight: 700;
    }
  }
  &.active {
    .card-main-2 {
      display: block;
    }
    .card-main-2-list {
      p {
        display: flex;
        align-items: center;
        color: $primary;
        text-indent: 30px;
        &::before {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $primary;
        }
      }
    }
  }
  @include tabletMore {
    .card-main-2 {
      position: absolute;
      top: 3vh;
      left: 0;
      margin: 0 0 20px 0;
      width: 50%;
      max-width: 650px;
      border-radius: 0;
      img {
        max-height: 370px;
      }
    }
    .card-main-2-list {
      padding-left: 58%;
      p {
        font-size: clamp($font-size-display-lg, 6vw, $font-size-display-xlg);
      }
    }
    &.active {
      .card-main-2 {
        display: block;
      }
      .card-main-2-list {
        p {
          display: flex;
          align-items: center;
          color: $primary;
          text-indent: 20px;
          &::before {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}

// card3-js 배우고!!
.card-main-3 {
  position: relative;
  background: $primary;
  &__img {
    width: 100%;
    height: 100%;
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &__txt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
      color: $white;
      text-align: center;
    }
    p {
      display: none;
    }
  }
}

.sec-main-process {
  .card-main-4-list {
    height: auto;
    .card-main-4 {
      position: sticky;
      top: 100px;
      margin-bottom: 20px;
      padding: 40px 40px;
      width: 100%;
      background: $gray-90;
      border: 1px solid $gray-70;
      img {
        width: 50px;
        margin-bottom: 40px;
        border-radius: 0;
      }
      h3 {
        color: $white;
        margin-bottom: 10px;
      }
      p {
        color: $gray-5;
      }
      .sent-2nd {
        display: none;
        span {
          font-size: $font-size-body-sm;
          font-weight: 200;
          color: $gray-30;
        }
      }
      @include tablet {
        .sent-1st {
          display: none;
        }
        .sent-2nd {
          display: block;
        }
      }
      @include tabletMore {
        min-height: 240px;
        position: relative;
        h3 {
          position: absolute;
          top: 40px;
          left: 6vw;
        }
        img {
          margin: 0 0 30px 40%;
          width: 60px;
        }
        .sent-1st {
          display: none;
        }
        .sent-2nd {
          display: block;
          margin-left: 40%;
        }
      }
    }
  }
}
