// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: red;
}

// intro style
.intro {
  &__title {
    font-size: 13vw;
    line-height: 13vw;
    font-weight: $font-bolder;
  }
  &__content {
    display: none;
    font-size: 1.6rem;
    font-weight: $font-medium;
    line-height: 1.2;
  }
  @include tablet {
    &__content {
      font-size: 2.8rem;
      text-align: right;
    }
  }
  @include tabletMore {
    &__title {
      font-size: 10vw;
      line-height: 10vw;
    }
    &__content {
      text-align: right;
      font-size: 3.2rem;
    }
  }
}

.intro-animation {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $primary;
  .inner {
    position: relative;
    gap: 0;
  }
  .intro__title-box {
    width: 100%;
    height: 13vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    .txt-fill {
      color: $white;
    }
    .txt-stroke {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px $white;
    }
    @include tabletMore {
      height: 10vw;
    }
  }
  .bg-fill {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: $white;
    --clip: 0;
    clip-path: circle(var(--clip));

    .txt-fill2 {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(0, -50%);
      color: $primary;
    }
  }
}

.sec-g {
  .sec-txt {
    em {
      color: $primary;
    }
  }
}

// 전역 스타일
.swiper {
  width: 100%;
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 3rem;
    color: $black;
    opacity: 0.5;
  }
  .swiper-button-next::before {
    content: "\f0a9";
  }
  .swiper-button-prev::before {
    content: "\f0a8";
  }
}

.slide-main-research {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin-left: 0;

  @include mobile {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  @include mobileMore {
    width: 100%;
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
    .swiper-button-next {
      width: 60px;
      height: 60px;
      top: -60px;
      left: 80px;
    }
    .swiper-button-prev {
      width: 60px;
      height: 60px;
      top: -60px;
      left: 0;
    }
    .swiper-button-next::before {
      content: "";
      width: 60px;
      height: 60px;

      background: url(../../images/component/common/arrow-right.png) no-repeat;
    }
    .swiper-button-prev::before {
      content: "";
      width: 60px;
      height: 60px;
      background: url(../../images/component/common/arrow-left.png) no-repeat;
    }
  }
}

.sec-main-feature {
  .sec-g__tit {
    display: none;
  }
}

// .slide-main-solution {
//   overflow: visible;
//   margin: 0;
//   .swiper-slide {
//     width: 100%;
//     height: 240px;
//     margin-right: 20px;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     h3 {
//       position: absolute;
//     }
//     p {
//       display: none;
//     }
//     .card-main-3__img {
//       width: 100%;
//       height: 100%;
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//     &.swiper-slide-active {
//       background: $gray-5;
//       border: 1px solid $gray-20;
//       .card-main-3__img {
//         display: none;
//       }
//       h3 {
//         top: 40px;
//         left: 30px;
//         &::after {
//           content: "\f105";
//           font-family: "Line Awesome Free";
//           font-weight: 900;
//           position: absolute;
//           right: 30px;
//           top: 0;
//         }
//       }
//     }
//     p {
//       display: block;
//       position: absolute;
//       bottom: 40px;
//       left: 30px;
//       padding-right: 30px;
//     }
//   }
// }
// 다시 짜자!!!

.sec-main-portfolio {
  .inner {
    overflow: visible;
  }
  .sec-g__cont {
    .portfolio-logo__mo {
      .portfolio-logo {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 12px 0;

        img {
          width: 100px;
          border-radius: 10px;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
        }
      }
      @include tablet {
        .portfolio-logo {
          padding: 15px 0;
          gap: 30px;
          img {
            width: 160px;
            height: 77px;
          }
        }
      }
      @include tabletMore {
        display: none;
      }
    }

    .portfolio-logo__pc {
      display: none;
      .portfolio-logo {
        display: none;
        flex-direction: row;
        gap: 30px;
        padding: 15px 0;

        img {
          width: 100px;
          border-radius: 10px;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
          width: 270px;
          height: 130px;
          border-radius: 20px;
        }

        @include tabletMore {
          display: flex;
        }
      }
      @include tabletMore {
        display: block;
      }
    }
  }
}

// rolling-left
.box-rolling-left {
  position: relative;
  width: 920px;
  @include tablet {
    width: 1520px;
  }
  @include tabletMore {
    width: 3600px;
  }
  .rolling-left {
    position: absolute;
    top: 0;
    left: 0;
    animation: rolling-left 30s linear infinite;
    @include tabletMore {
      animation: rolling-left 40s linear infinite;
    }
  }
  .rolling-left-secondary {
    position: absolute;
    animation: rolling-left-secondary 30s linear infinite;
    @include tabletMore {
      animation: rolling-left-secondary 40s linear infinite;
    }
  }
}

@keyframes rolling-left {
  0% {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes rolling-left-secondary {
  0% {
    left: 100%;
  }
  to {
    left: 0;
  }
}

// rolling-right
.box-rolling-right {
  position: relative;
  width: 920px;
  @include tablet {
    width: 1520px;
  }
  @include tabletMore {
    width: 3600px;
  }
  .rolling-right {
    position: absolute;
    top: 0;
    left: 0;
    animation: rolling-right 30s linear infinite;
    @include tabletMore {
      animation: rolling-right 40s linear infinite;
    }
  }
  .rolling-right-secondary {
    position: absolute;
    animation: rolling-right-secondary 30s linear infinite;
    @include tabletMore {
      animation: rolling-right-secondary 40s linear infinite;
    }
  }
}

@keyframes rolling-right {
  0% {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes rolling-right-secondary {
  0% {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.sec-main-contact {
  background: $primary;
  flex-direction: column;
  color: $white;
  padding: 60px 0 40px 0;
  .inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .sec-main-contact__link {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    p {
      font-size: 6.5vw;
      line-height: 1.2;
      font-weight: $font-weight-bold;
    }
    a {
      font-size: $font-size-body-sm;
    }
  }
  @include tablet {
    padding: 150px 0 60px 0;
    .inner {
      gap: 180px;
      .sec-main-contact__link {
        gap: 40px;
      }
      a {
        font-size: $font-size-title-lg;
      }
    }
  }
  @include tabletMore {
    padding: 300px 0 120px 0;
    .inner {
      gap: 300px;
      .sec-main-contact__link {
        flex-direction: row;
        gap: 100px;
      }
      p {
        font-size: 6vw;
      }
      a {
        font-size: $font-size-title-xxlg;
      }
    }
  }
}
