// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: red;
}

// intro style
.intro {
  &__title {
    font-size: 4.5rem;
    font-weight: $font-bolder;
  }
  &__content {
    font-size: 1.6rem;
    font-weight: $font-bold;
    line-height: 1.2;
  }
  @include tablet {
    &__title {
      font-size: 9rem;
      font-weight: $font-bolder;
    }
    &__content {
      font-size: 2.8rem;
      font-weight: $font-bold;
      text-align: right;
    }
  }
  @include tabletMore {
    &__title {
      font-size: 14.4rem;
      font-weight: $font-bolder;
    }
    &__content {
      text-align: right;
      font-size: 4.2rem;
      font-weight: $font-bold;
    }
  }
}

.sec-g {
  .sec-txt {
    em {
      color: $primary;
    }
  }
}

// 전역 스타일
.swiper {
  width: 100%;
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 3rem;
    color: $black;
    opacity: 0.5;
  }
  .swiper-button-next::before {
    content: "\f138";
  }
  .swiper-button-prev::before {
    content: "\f137";
  }
}

.slide-main-research {
  overflow: visible;
  width: 90%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}

// .slide-main-solution {
//   overflow: visible;
//   margin: 0;
//   .swiper-slide {
//     width: 100%;
//     height: 240px;
//     margin-right: 20px;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     h3 {
//       position: absolute;
//     }
//     p {
//       display: none;
//     }
//     .card-main-3__img {
//       width: 100%;
//       height: 100%;
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//     &.swiper-slide-active {
//       background: $gray-5;
//       border: 1px solid $gray-20;
//       .card-main-3__img {
//         display: none;
//       }
//       h3 {
//         top: 40px;
//         left: 30px;
//         &::after {
//           content: "\f105";
//           font-family: "Line Awesome Free";
//           font-weight: 900;
//           position: absolute;
//           right: 30px;
//           top: 0;
//         }
//       }
//     }
//     p {
//       display: block;
//       position: absolute;
//       bottom: 40px;
//       left: 30px;
//       padding-right: 30px;
//     }
//   }
// }
// 다시 짜자!!!

.sec-main-contact {
  background: $primary;
  flex-direction: column;
  color: $white;
  padding: 60px 0 40px 0;
  .inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .sec-main-contact__link {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    p {
      font-size: 6.5vw;
      line-height: 1.2;
      font-weight: $font-weight-bold;
    }
    a {
      font-size: $font-size-body-sm;
    }
  }
}
