// 사이트 레이아웃 관련 요소
.bg-gray {
  background-color: $gray-5;
}

#wrap {
  overflow: hidden;
}

// grid layout
.inner {
  position: relative;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $p-mobile;
  @include tablet {
    padding: 0 $p-tablet;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: $gray-90;
  a {
    &:not(:focus) {
      @include sr-only;
    }
    &:focus {
      @include flex-layout($ai: center, $jc: center);
      @include focus($color: $white, $alpha: 0.9);
      font-size: 1.5rem;
      color: $white;
      width: 100%;
      height: 3.2rem;
      margin: 0 auto;
      text-align: center;
    }
  }
  &.type1 {
    background-color: $white;
    a {
      &:focus {
        color: $gray-90;
      }
    }
  }
}

// header
#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: $white;
  opacity: 1;

  .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    align-items: center;
    height: 60px;

    @include tablet {
      height: 60px;
    }
    @include tabletMore {
      height: 70px;
    }
  }
}

#logo {
  a {
    display: block;
    width: 114px;
    height: 27px;
    background: url("../../../resources/images/component/common/logo-opensurvey.svg") no-repeat 0 0 / contain;
    @include tablet {
      width: 130px;
      height: 31px;
    }
    @include tabletMore {
      width: 160px;
      height: 36px;
    }
  }
  span {
    @include sr-only;
  }
}

.util {
  display: flex;
  button {
    height: 60px;
    padding-left: 20px;
  }

  @include tablet {
    button {
      padding-left: 30px;
    }
  }
  @include tabletMore {
    button {
      height: 70px;
      padding-left: 50px;
    }
  }

  .contact-us {
    &::before {
      content: "CONTACT";
      font-size: $font-size-label-sm;
      @include tablet {
        font-size: $font-size-label-md;
      }
      @include tabletMore {
        font-size: $font-size-label-lg;
      }
    }
  }

  .all-menu {
    &::before {
      content: "MENU";
      font-size: $font-size-label-sm;
      @include tablet {
        font-size: $font-size-label-md;
      }
      @include tabletMore {
        font-size: $font-size-label-lg;
      }
    }
  }
}

// menu layout
#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-x: scroll;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  .gnb__depth1 {
    > li {
      > a {
        color: $gray-90;
      }
    }
  }
  .gnb__depth2 {
    li {
      a {
        color: $gray-70;
      }
    }
  }
  &.active {
    display: block;
    left: 0;
  }
  @include tabletMore {
    padding: 0;
  }
  .nav-all__mobile {
    @include tabletMore {
      display: none;
    }
    .gnb__depth1 {
      font-size: $font-size-title-lg;
      font-weight: bold;
      margin: 60px 0 0 0;

      > li {
        position: relative;
        border-bottom: 1px solid $gray-20;
        transition: all 0.3;

        > a {
          display: flex;
          align-items: center;
          padding: 15px 0;

          &::after {
            content: "\f107";
            font-family: "Line Awesome Free";
            font-weight: 900;

            position: absolute;
            right: 0;
          }
        }
        &.active {
          & > a::after {
            content: "\f106";
          }
          .gnb__depth2 {
            height: 100%;
            padding: 10px 0;
          }
        }
      }
      > li:nth-child(2) {
        > a {
          &::after {
            display: none;
          }
        }
      }
      > li:nth-child(4) {
        > a {
          &::after {
            display: none;
          }
        }
      }
      > li:nth-child(5) {
        > a {
          &::after {
            display: none;
          }
        }
      }
    }

    .gnb__depth2 {
      overflow: hidden;
      height: 0;

      > li {
        font-size: $font-size-body-md;
        font-weight: $font-weight-light;
        color: $gray-70;

        > a {
          display: block;
          padding: 0 20px 15px 0;
        }
      }
    }
  }
  .nav-all__pc {
    display: none;
    height: 100vh;
    width: 30vw;
    @include tabletMore {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 40px;
      border-right: 1px solid $gray-20;
    }

    .gnb__depth1 {
      display: flex;
      flex-direction: column;
      gap: 45px;

      > li {
        display: flex;
        align-items: center;
        position: relative;
        > a {
          // font-size: clamp($font-size-display-xsm, 2.5vw, $font-size-display-sm);
          font-size: 2vw;
          font-weight: $font-weight-bold;
          letter-spacing: -2px;
        }
      }
      .gnb__depth2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        position: absolute;
        left: 180%;
        width: 60vw;
        li {
          a {
            font-size: $font-size-detail-md;
          }
        }
      }
    }
  }
}

// nav-all util
.nav-all__util {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 15px;

  .close {
    &::before {
      content: "\f00d";
      font-family: "Line Awesome Free";
      font-weight: 700;
      font-size: 20px;
      color: $white;
      background: $gray-90;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  .btn-login {
    padding: 2px 20px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-90;
    border-radius: 50px;
    color: $gray-90;
  }
}

// nav-all pc 추가, index.html에서 pc용 html 작성/ mobile 버전과 구분하여 미디어쿼리로 제어

// intro layout
.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  .inner {
    display: flex;
    flex-direction: column;
    // gap: 10vh;

    @include tablet {
      // gap: 20vh;
    }
    @include tabletMore {
      // gap: 30vh;
      padding-top: 10vh;
    }
  }
}

// section layout
.sec-g {
  // overflow: hidden;
  padding: 60px 0;
  .sec-txt {
    margin-bottom: 100px;
  }
  &__label {
    margin-bottom: 40px;
    font-size: $font-size-label-xsm;
    color: $gray-70;
  }
  &__tit {
    padding-bottom: 10px;
    font-size: $font-size-title-xlg;
    line-height: 1.2;
    color: $gray-90;
  }
  &__desc {
    font-size: $font-size-body-sm;
    color: $gray-80;
    max-width: 80%;
  }
  @include tablet {
    padding: 80px 0;
    .sec-txt {
      margin-bottom: 120px;
    }
    &__label {
      margin-bottom: 60px;
      font-size: $font-size-label-sm;
      color: $gray-70;
    }
    &__tit {
      padding-bottom: 20px;
      font-size: $font-size-title-xxlg;
      color: $gray-90;
    }
    &__desc {
      font-size: $font-size-body-md;
      color: $gray-80;
      max-width: 50%;
    }
  }
  @include tabletMore {
    padding: 120px 0 90px;
    .sec-txt {
      margin-bottom: 180px;
    }
    &__label {
      margin-bottom: 90px;
      font-size: $font-size-label-md;
      color: $gray-70;
    }
    &__tit {
      padding-bottom: 30px;
      font-size: $font-size-title-xxxlg;
      color: $gray-90;
    }
    &__desc {
      font-size: $font-size-body-lg;
      color: $gray-80;
      max-width: 40%;
    }
  }
}

.sec-main-feature {
  .sec-txt {
    margin-bottom: 60px;
    @include tabletMore {
      margin-bottom: 150px;
    }
  }
  .feature-wrap {
    @include tabletMore {
      margin-bottom: 100px;
    }
  }
}

.sec-main-portfolio {
  .sec-g__label {
    margin-bottom: 10px;
    font-size: $font-size-body-sm;
    @include tablet {
      margin-bottom: 20px;
      font-size: $font-size-body-md;
    }
    @include tabletMore {
      margin-bottom: 30px;
      font-size: $font-size-body-lg;
    }
  }
  .sec-txt {
    text-align: center;
  }
}

.container-portfolio-logo {
  height: 46.66px;
  margin: 12px 0;
  @include tablet {
    height: 77px;
    margin: 20px;
  }
  @include tabletMore {
    height: 130px;
    margin: 30px;
  }
}

#footer {
  .inner {
    margin: 50px 0 30px 0;
  }
  h1 {
    margin-bottom: 30px;
  }
  .txt {
    display: flex;
    flex-direction: column;
    gap: 6px;
    letter-spacing: -1px;
  }
  a {
    display: block;
    font-size: $font-size-detail-sm;
  }
  p {
    display: block;
    font-size: $font-size-detail-sm;
    color: $gray-70;
  }
}
